form.form
  .form-group
    label(for='username') User Name:
    input.form-control#username(type='text')
  .form-group
    label(for='password') Password:
    input.form-control#password(type='password')
  button.btn.btn-primary(type='button') OK
  button.btn.btn-default(type='button') Cancel
